@import url(./header-footer.scss);

$green : #008037;
$brown : #7f3e1a;
$yellow : #f4e038;
$police: 'Dancing Script', cursive;

h1{
    font-family: 'Dancing Script', cursive !important;
    font-size: 5rem !important;
    margin-top: 30px !important;
    text-align: center !important;
}