@import url(./header-footer.scss);

$green : #008037;
$brown : #7f3e1a;
$yellow : #f4e038;
$police: 'Dancing Script', cursive;

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    text-align: center;
}