$Vert: #008037;
$Brun: #7f3e1a;
$Orange: #f08c2b;
$Jaune: #f4e038;
$noir: #1d1d1d;

h1{
    font-family: 'Dancing Script', cursive;
    color: $Orange;
    font-size: 5rem;
    margin-top: 60px;
    text-align: center;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

::selection{
    background-color: $Orange;
    color: white;
}

header{
    font-weight: bold;
    font-size: 1.2rem;

    .logo{
        width: 240px;
        height: auto;
        margin: 20px 70px 15px 0;
    }

    .navbar{
        padding: 0 100px;

        .navbar-brand{
            margin-right: 80px;
        }
    }

    .nav-item{
        margin: 25px 20px;
    
        a{
            color: white; 
            transition-duration: 0.3s;

            &:hover{
                color: $Orange;
                transition-duration: 0.5s;
            }
        }
    }

    .active{
        background-color: $Orange !important;
    }
}


h1 {
    text-align: center;
    color:  #008037;
    padding: 40px 0;
}

h2{
    
    color:  #008037;
}

h1:hover {
    color: #f4e038
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 2;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin: 0 auto;
    width: 45%;
}

.menus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0 70px 0;

    .desserts-list, .drinks-list{
        margin-top: 50px;
    }
}


.bleu {
    background-color: #7f3e1a;
    font-family: Arial, Helvetica, sans-serif;
}

.jaune {
    background-color: #f4e038;
    font-family: Arial, Helvetica, sans-serif;
}

.green {
    background-color: #008037;
    font-family: Arial, Helvetica, sans-serif;
}


footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: white;
    background-color: $noir;
    position: relative;
    
    a{
        color: white !important;
        list-style: inherit;
        text-decoration: inherit !important;
        padding: 0px 10px;
        transition-duration: 0.3s;

        &:hover{
            color: $Orange !important;
            transition-duration: 0.5s;
        }
    }

    .git {
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
    }
}
