$Vert: #008037;
$Brun: #7f3e1a;
$Orange: #f08c2b;
$Jaune: #f4e038;
$noir: #1d1d1d;

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

*{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
::selection{
    background-color: $Orange;
    color: white;
}
body{
    font-size: 62,5%;
    margin: 0 auto;
}

header{
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    background-color: $noir;

    .logo{
        width: 240px;
        height: auto;
        margin: 20px 70px 15px 0;
    }

    .navbar{
        padding: 0 100px;

        .navbar-brand{
            margin-right: 80px;
        }
    }

    .nav-item{
        margin: 25px 20px;
    
        a{
            color: white; 
            transition-duration: 0.3s;

            &:hover{
                color: $Orange;
                transition-duration: 0.5s;
            }
        }
    }

    .active{
        background-color: $Orange !important;
    }
}
//--------fin du header------------
.menu{
    padding: 30px;
    width: 90%;
    display: flex;
    flex-direction: column !important;

    hr{
        width: 92%;
        margin: 20px auto;
    }

    h2{
        text-align: center;
        margin: 10px 0;
    }

    .articlemenu{
        margin-top: 15px;
        width: 55%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        article{
            width: 40%;
            margin-bottom: 50px;
        }
    }
    table{
        td{
            padding: 0 15px;
        }
        th{
            padding: 0 15px;
        }
    }
}
.maintitle{
    padding-top: 20px;
        .mainlogo{
            display: block;
            margin: 0 auto;
        }
        h1{
            text-align: center;
        }
        p{
            text-align: center;
        }
    }

    .mainmenu{
        border: solid 2px $Vert !important;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        .icons{
            margin: 0 auto;
            display: block;
        }
        h3{
            text-align: center;
            color: $Orange;
        }
    }


//-------responsive-----------


@media only screen and(max-width: 600px){
    .maintitle{
        h1{
        font-size: 1rem;
        }
        p{
        font-size: 1rem; 
        }
    }

//------menu------------

    .menu{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;

        .mainmenu{
            min-width: 80%;
            padding: 20px;
            margin-top: 20px;
            .icons{
                width: 40px;
            }
            h3{
                font-size: 1.5rem;
            }
        }

        table{
            td{
                width: 120%;
            }
            th{
                text-align: right;
            }
        }
    }

} 
//---
@media only screen and (min-width: 600px) and (max-width: 768px){
    //-------maintitle----------
    .maintitle{
        h1{
        font-size: 2rem;
        }
        p{
        font-size: 1rem; 
        }
    }

//------menu------------

    .menu{
        display: flex;
	    flex-direction: column;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    align-items: stretch;
	    align-content: stretch;
        .mainmenu{
            min-width: 80%;
            padding: 20px;
            margin-top: 20px;
            .icons{
                width: 40px;
            }
            h2{
                font-size: 1.5rem;
            }
        }

        table{
            td{
                width: 120%;
            }
            th{
                text-align: right;
            }
        }
    }
}

//--
@media only screen and (min-width: 768px){
    //-------maintitle----------
    .maintitle{
            p{
                font-size: 1.5rem;
            }
    }

//------menu------------
    .menu{
        display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-items: stretch;
	    align-content: stretch;

        .mainmenu{
            border: solid 1px $Vert;
            padding: 20px;
            .icons{
                margin: 0 auto;
                display: block;
                width: 50px;
            }
        h2{
            text-align: center;
            color: $Orange;
            font-size: 2rem;
        }
    }
}
}

//-----fin du responsive---------------





//----buttons----------
.bleu {
    background-color: #7f3e1a;
    font-family: Arial, Helvetica, sans-serif;
}

.jaune {
    background-color: #f4e038;
    font-family: Arial, Helvetica, sans-serif;
}

.green {
    background-color: #008037;
    font-family: Arial, Helvetica, sans-serif;
}


//----footer-----------

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    background-color: $noir;
    position: relative;
    
    ul, ol{
        list-style: none;
    }
    dl, ol, ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    .flex{
        display: flex;
        flex-wrap: wrap;
    }

    ul{
        li{
            margin: 25px 30px;
        }
    }

    a{
        color: white !important;
        list-style: inherit;
        text-decoration: inherit !important;
        padding: 0px 10px;
        transition-duration: 0.3s;

        &:hover{
            color: $Orange !important;
            transition-duration: 0.5s;
        }
    }
}

.visible-xs {
    display: none !important
}

@media (max-width: 1340px) {
    .articlemenu{
        width: 80% !important;
    }
    footer{
        ul{
            li{
                margin: 25px 20px;
            }
        }
    }
}

@media (max-width: 1300px){
    header{

        .navbar{
            padding: 0 50px;
    
            .navbar-brand{
                margin-right: 35px;
            }
        }

        .nav-item{
            margin: 20px 10px;
        }
    }
}

@media (max-width: 1220px){
    footer{
        ul{
            li{
                margin: 25px 10px;
            }
        }
    }
}

@media (max-width: 1100px) {

    .articlemenu{
        width: 90% !important;
    }

    header{
        .logo{
            width: 200px;
            margin: 20px 50px 15px 0;
        }
        .navbar{
            padding: 0 50px;
    
            .navbar-brand{
                margin-right: 25px;
            }
        }

        .nav-item{
            margin: 20px 8px;
        }
    }

    footer {
        flex-direction: column;
        text-align: center;

        .flex{
            flex-direction: column;
        }

        ul{

            margin: 15px;

            li{
                margin: 8px 10px;
            }
        }
    }
}
@media (max-width: 900px){
    .articlemenu{
        flex-direction: column !important;

        article{
            width: 65% !important;
        }
    }
}

@media (max-width: 767px){
    header{
        .logo{
            width: 180px;
            margin: 0 10px;
        }
    }
}

@media (max-width: 375px){
    header{
        .logo{
            width: 150px;
            margin: 0 5px;
        }
    }
}