$Vert: #008037;
$Brun: #7f3e1a;
$Orange: #f08c2b;
$Jaune: #f4e038;
$noir: #1d1d1d;

*{
    font-family: Arial, Helvetica, sans-serif;
}
::selection{
    background-color: $Orange;
    color: white;
}
header{
    font-weight: bold;
    font-size: 1.2rem;

    .logo{
        max-height: 45px;
        margin: 15px 10px 15px 0;
    }

    .navbar{
        padding: 0 100px;

        .navbar-brand{
            margin-right: 80px;
        }
    }

    .nav-item{
        margin: 25px 20px;
    
        a{
            color: white; 
            transition-duration: 0.3s;

            &:hover{
                color: $Orange;
                transition-duration: 0.5s;
            }
        }
    }

    .active{
        background-color: $Orange !important;
    }
}

main{
    .gallery{
        width: 90%;
        margin: 60px auto;

        h2{
            font-size: 2.8rem;
            font-weight: bold;
            margin-bottom: 3vh;
        }

        section{
            margin-bottom: 8vh;

            div>div{
                overflow: hidden;
                img{
                    transition-duration: 0.5s;

                    &:hover{
                        transform: scale(1.2);
                        transition-duration: 1s;
                    }
                }
            }
        }
    }
}
.pagination_rounded,
.pagination_square {
    display: inline-block;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.pagination_rounded{

    ul{
        margin: 0;
        padding: 0;
        list-style: none
    }

    ul li {
    float: left;
    margin-left: 20px;
    
        a{
            float: left;
            color: $Orange;
            border-radius: 50%;
            line-height: 30px;
            height: 30px;
            width: 30px;
            text-align: center;
            text-decoration: none;
            margin-bottom: 40px;
            border: 2px solid #e0e0e0;
            transition-duration: 0.3s;

            &:hover {
                background-color: $Orange;
                color: #fff;
                border: 2px solid $Orange;
                transition-duration: 0.6s;
            }   
        }
    }

    li:first-child {
        margin-left: 0px
    }

    .prev {
        margin-left: 0px;
        border-radius: 35px;
        width: 90px;
        height: 34px;
        line-height: 34px;
    }
    .next {
        border-radius: 35px;
        width: 90px;
        height: 34px;
        line-height: 34px;
    }
}

footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: white;
    background-color: $noir;
    position: relative;
    
    a{
        color: white !important;
        list-style: inherit;
        text-decoration: inherit !important;
        padding: 0px 10px;
        transition-duration: 0.3s;

        &:hover{
            color: $Orange !important;
            transition-duration: 0.5s;
        }
    }

    .git {
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
    }
}

.visible-xs {
    display: none !important
}
@media (max-width: 1500px){
    .gallery-burgers, .gallery-environment{
        .row{
            height: 300px !important;
        }
    }
    .gallery-milkshake{
        .row{
            height: 600px !important;
        }
    }

}
@media (max-width: 1400px){
    .gallery-burgers, .gallery-environment{
        .row{
            height: 250px !important;
        }
    }
    .gallery-milkshake{
        .row{
            height: 550px !important;
        }
    }
}
@media (max-width: 1300px){
    header{

        .navbar{
            padding: 0 50px;
    
            .navbar-brand{
                margin-right: 35px;
            }
        }

        .nav-item{
            margin: 20px 10px;
        }
    }
    .gallery-burgers, .gallery-environment{
        .row{
            height: 200px !important;
        }
    }
    .gallery-milkshake{
        .row{
            height: 500px !important;
        }
    }
}
@media(max-width: 1000px){
    main{
        .gallery h2{
            font-size: 2.5rem;
        }
        
    }
}
@media (max-width: 767px){
    main{
        .gallery h2{
            font-size: 2rem;
        }
        
    }
}
@media (max-width: 700px){
    main{
        .gallery h2{
            font-size: 2rem;
        }
        
    }
}