* {
  font-family: Arial, Helvetica, sans-serif;
}

::-moz-selection {
  background-color: #f08c2b;
  color: white;
}

::selection {
  background-color: #f08c2b;
  color: white;
}

header {
  font-weight: bold;
  font-size: 1.2rem;
}

header .logo {
  max-height: 100px;
  margin: 5px 10px 5px 0;
}

header .navbar {
  padding: 0 100px;
}

header .navbar .navbar-brand {
  margin-right: 80px;
}

header .nav-item {
  margin: 25px 20px;
}

header .nav-item a {
  color: white;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

header .nav-item a:hover {
  color: #f08c2b;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .active {
  background-color: #f08c2b !important;
}

main .gallery {
  width: 90%;
  margin: 60px auto;
}

main .gallery h2 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 3vh;
}

main .gallery section {
  margin-bottom: 8vh;
}

main .gallery section div > div {
  overflow: hidden;
}

main .gallery section div > div img {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

main .gallery section div > div img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.pagination_rounded,
.pagination_square {
  display: inline-block;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination_rounded ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination_rounded ul li {
  float: left;
  margin-left: 20px;
}

.pagination_rounded ul li a {
  float: left;
  color: #f08c2b;
  border-radius: 50%;
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 40px;
  border: 1px solid #e0e0e0;
}

.pagination_rounded ul li a:hover {
  background-color: #f08c2b;
  color: #fff;
  border: 1px solid #f08c2b;
}

.pagination_rounded li:first-child {
  margin-left: 0px;
}

.pagination_rounded .prev {
  margin-left: 0px;
  border-radius: 35px;
  width: 90px;
  height: 34px;
  line-height: 34px;
}

.pagination_rounded .prev i {
  margin-right: 10px;
}

.pagination_rounded .next {
  border-radius: 35px;
  width: 90px;
  height: 34px;
  line-height: 34px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  color: white;
  background-color: #1d1d1d;
  position: relative;
}

footer a {
  color: white !important;
  list-style: inherit;
  text-decoration: inherit !important;
  padding: 0px 10px;
}

footer .git {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
}

.visible-xs {
  display: none !important;
}

@media screen and (max-width: 1000px) {
  main .gallery h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  main .gallery h2 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=pictures.css.map */