@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
h1 {
  color: #f08c2b !important;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

::-moz-selection {
  background-color: #f08c2b;
  color: white;
}

::selection {
  background-color: #f08c2b;
  color: white;
}

header {
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  background-color: #2b2b2b;
}

header .logo {
  width: 240px;
  height: auto;
  margin: 20px 70px 15px 0;
}

header .navbar {
  padding: 0 100px;
}

header .navbar .navbar-brand {
  margin-right: 80px;
}

header .nav-item {
  margin: 25px 20px;
}

header .nav-item a {
  color: white;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

header .nav-item a:hover {
  color: #f08c2b;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .active {
  background-color: #f08c2b !important;
}

main .gallery {
  width: 90%;
  margin: 30px auto;
}

main .gallery h2 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 3vh;
}

main .gallery section {
  margin-bottom: 8vh;
}

main .gallery img {
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition-duration: 1s !important;
          transition-duration: 1s !important;
}

main .gallery img:hover {
  -webkit-transform: scale(1.06) !important;
          transform: scale(1.06) !important;
  -webkit-transition-duration: 0.8s !important;
          transition-duration: 0.8s !important;
}

main .gallery .gallery-environment img {
  height: 320px !important;
}

main .gallery .gallery-burgers img {
  height: 450px !important;
}

main .gallery .gallery-milkshake img {
  height: 620px !important;
}

main .pagination-outer {
  text-align: center;
}

main .pagination {
  font-family: 'Rubik', sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

main .pagination li a.page-link {
  color: #f08c2b;
  background-color: transparent;
  font-size: 26px;
  font-weight: bold;
  line-height: 28px;
  height: 40px;
  width: 40px;
  margin: 0 5px 10px;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

main .pagination li.active a.page-link,
main .pagination li a.page-link:hover,
main .pagination li.active a.page-link:hover {
  color: #fff;
  background-color: #f08c2b;
}

main .pagination li a.page-link:before {
  content: attr(data-hover);
  color: rgba(255, 255, 255, 0.2);
  font-size: 80px;
  font-weight: 700;
  height: 100%;
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

main .pagination li a.page-link:hover:before,
main .pagination li.active a.page-link:before {
  opacity: 1;
  top: 10px;
}

@media only screen and (max-width: 480px) {
  main .pagination {
    display: block;
  }
  main .pagination li {
    margin-bottom: 10px;
    display: inline-block;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  background-color: #2b2b2b;
  position: relative;
}

footer ul, footer ol {
  list-style: none;
}

footer dl, footer ol, footer ul {
  margin-top: 0;
  margin-bottom: 0;
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer ul li {
  margin: 25px 30px;
}

footer a {
  color: white !important;
  list-style: inherit;
  text-decoration: inherit !important;
  padding: 0px 10px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

footer a:hover {
  color: #f08c2b !important;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.visible-xs {
  display: none !important;
}

@media (max-width: 1335px) {
  footer ul li {
    margin: 25px 20px;
  }
}

@media (max-width: 1300px) {
  header .navbar {
    padding: 0 50px;
  }
  header .navbar .navbar-brand {
    margin-right: 35px;
  }
  header .nav-item {
    margin: 20px 10px;
  }
}

@media (max-width: 1220px) {
  footer ul li {
    margin: 25px 10px;
  }
}

@media (max-width: 1100px) {
  header .logo {
    width: 200px;
    margin: 20px 50px 15px 0;
  }
  header .navbar {
    padding: 0 50px;
  }
  header .navbar .navbar-brand {
    margin-right: 25px;
  }
  header .nav-item {
    margin: 20px 8px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer ul {
    margin: 15px;
  }
  footer ul li {
    margin: 8px 10px;
  }
}

@media (max-width: 1000px) {
  main .gallery h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  header .logo {
    width: 180px;
    margin: 0 10px;
  }
  main .gallery h2 {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  header .logo {
    width: 150px;
    margin: 0 5px;
  }
  main .gallery h2 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=pictures.css.map */