$green : #008037;
$brown : #7f3e1a;
$orange : #f08c2b;
$yellow : #f4e038;


/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body{
    font-size: 62,5%;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
::selection{
    background-color: $Orange;
    color: white;
}
header{
    font-weight: bold;
    font-size: 1.2rem;

    .logo{
        max-height: 100px;
        margin: 5px 10px 5px 0;
    }

    .navbar{
        padding: 0 100px;

        .navbar-brand{
            margin-right: 80px;
        }
    }

    .nav-item{
        margin: 25px 20px;
    
        a{
            color: white; 
            transition-duration: 0.3s;

            &:hover{
                color: $Orange;
                transition-duration: 0.5s;
            }
        }
    }

    .active{
        background-color: $Orange !important;
    }
}

main{
    color: white;
    position: relative;
    .burger_image{
        position: absolute;
        z-index: -2;
    }
    h1{
        font-size: 2rem;
        text-align: center ;
    }
    h2{
        font-size: 1rem;
        text-align: center;
    }
}

//---------- footer -----------

footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: white;
    background-color: black;
    position: relative;
    
}

.git {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
}
footer a{
    color: white !important;
    list-style: inherit;
    text-decoration: inherit !important;
    padding: 0px 10px;
  }