/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.main-title {
  margin: 10px 0 50px 0;
}

.carousel-item {
  height: 55vh;
}

.carousel {
  margin: 0 auto;
  width: 70% !important;
}

.carousel img {
  height: auto;
  width: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.carousel-inner .title {
  color: #008037;
  font-size: 7rem;
  font-family: "Dancing Script", cursive;
  padding-top: 20px;
}

.carousel-inner h2 {
  text-align: center;
  font-size: 1.5rem;
}

.logo-title {
  margin: 20px 0;
  display: block;
  width: 50px;
}

@media only screen and (max-width: 1200px) {
  .carousel img {
    -webkit-transform: translateY(-10%) !important;
            transform: translateY(-10%) !important;
  }
}

@media only screen and (max-width: 1000px) {
  .carousel img {
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
  }
}

@media only screen and (max-width: 768px) {
  .main-title {
    text-align: center;
    display: block;
  }
  .main-title h1 {
    color: #008037;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    padding-top: 20px;
  }
  .main-title h2 {
    font-size: 1.5rem;
    color: black;
  }
}

@media only screen and (max-width: 600px) {
  .comments {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .comments article {
    padding: 30px;
    margin: 20px;
    border: solid 1px #008037;
  }
  .comments article h2 {
    text-align: center;
    color: #f08c2b;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .comments {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .comments article {
    padding: 30px;
    margin: 20px;
    border: solid 1px #008037;
  }
  .comments article h2 {
    text-align: center;
    color: #f08c2b;
    font-size: 2rem;
  }
  .main-title {
    text-align: center;
    display: block;
  }
  .main-title h1 {
    color: #008037;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    padding-top: 20px;
  }
  .main-title h2 {
    font-size: 1.5rem;
    color: black;
  }
  /*  .comments{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }*/
  .logo-title {
    width: 15%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 800px) {
  .comments {
    margin: 0 auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .comments article {
    padding: 30px;
    margin: 20px;
    border: solid 1px #008037;
  }
  .comments article h2 {
    text-align: center;
    color: #f08c2b;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .main-title {
    text-align: center;
  }
  .main-title h1 {
    color: #008037;
    font-size: 5rem;
    font-family: 'Dancing Script', cursive;
    padding-top: 20px;
  }
  .main-title h2 {
    font-size: 1.5rem;
    color: black;
  }
}

.comments {
  width: 72% !important;
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

article {
  padding: 30px;
  margin: 20px;
  border: solid 2px #008037;
  border-radius: 5px;
}

article h2 {
  margin: 20px 0;
  text-align: center;
  color: #f08c2b;
  font-weight: bolder;
  font-size: 2rem;
}

.logo-title {
  width: 15%;
  margin: 0 auto 40px;
}

.carousel {
  margin: 0 auto;
  width: 90%;
}

.carousel-inner .title {
  color: #008037;
  font-size: 4rem;
  font-family: 'Dancing Script', cursive;
  padding-top: 20px;
}

.carousel-inner h2 {
  text-align: center;
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .main-title {
    text-align: center;
  }
  .main-title h1 {
    color: #008037;
    font-size: 5rem;
    font-family: 'Dancing Script', cursive;
    padding-top: 20px;
  }
  .main-title h2 {
    font-size: 1.5rem;
    color: black;
  }
}

.comments {
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.comments article {
  padding: 30px;
  margin: 20px;
  border: 2px solid #008037;
}

.comments article h2 {
  text-align: center;
  color: #f08c2b;
  font-size: 2rem;
  text-transform: uppercase;
}

.icons {
  display: block;
  width: 50px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */