$green : #008037;
$brown : #7f3e1a;
$orange : #f08c2b;
$yellow : #f4e038;
$noir: #2b2b2b;
$police: 'Dancing Script', cursive;


/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}


//------- carousel---------

.main-title{
    margin: 10px 0 50px 0;
}
.carousel{
    margin: 0 auto;
    width: 90%;
}
.carousel-inner{

    .title{
        color: $green;
        font-size: 7rem;
        font-family: $police;
        padding-top: 20px;
    }
    h2{
        text-align: center;
        font-size: 1.5rem;
    }
}
//---------fin du carousel---------------


.logo-title{
    margin: 20px 0;
    display: block;
    width: 50px;
}


  //---------responsive-----------

@media only screen and (max-width: 768px){

    .main-title{
        text-align: center;
        display: block;

        h1{
            color: $green;
            font-size: 3rem;
            font-family: 'Dancing Script', cursive;
            padding-top: 20px;
        }
        
        h2{
            font-size: 1.5rem;
            color: black;
        }
    }
}
//--------commentaires-----------------
.comments{
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}
article{
    padding: 30px;
    margin: 20px;
    border: solid 2px $green;
    border-radius: 5px;
    h2{
        margin: 20px 0;
        text-align: center;
        color: $orange;
        font-weight: bolder;
        font-size: 2rem;
    }
}
 
.logo-title{
    width: 15%;
    margin: 0 auto 40px;
}



//------- carousel---------

.carousel{
  margin: 0 auto;
  width: 90%;
}
.carousel-inner{

    .title{
      color: $green;
      font-size: 4rem;
      font-family: 'Dancing Script', cursive;
      padding-top: 20px;
    }
    h2{
        text-align: center;
        font-size: 1.5rem;
    }
}




@media only screen and (min-width: 768px){

    .main-title{
        text-align: center;
        h1{
            color: $green;
            font-size: 5rem;
            font-family: 'Dancing Script', cursive;
            padding-top: 20px;
        }
        
        h2{
            font-size: 1.5rem;
            color: black;
        }
    }
}
 

//--------------article comments-------------

.comments{
    margin: 0 auto;
    width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;

    article{
        padding: 30px;
        margin: 20px;
        border: 2px solid $green;

        h2{
            text-align: center;
            color: $orange;
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

//---------comments------------------

.icons{
    display: block;
    width: 50px;
    margin: 0 auto;
}