/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

::-moz-selection {
  background-color: #f08c2b;
  color: white;
}

::selection {
  background-color: #f08c2b;
  color: white;
}

body {
  font-size: 62,5%;
  margin: 0 auto;
}

header {
  font-weight: bold;
  font-size: 1.2rem;
}

header .navbar {
  padding: 0 100px;
}

header .navbar .navbar-brand {
  margin-right: 80px;
}

header .nav-item {
  margin: 25px 20px;
}

header .nav-item a {
  color: white;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

header .nav-item a:hover {
  color: #f08c2b;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .active {
  background-color: #f08c2b !important;
}

.maintitle {
  padding-top: 20px;
}

.maintitle .mainlogo {
  display: block;
  margin: 0 auto;
}

.maintitle h1 {
  text-align: center;
}

.maintitle p {
  text-align: center;
  font-size: 1.5rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.menu .mainmenu {
  border: solid 1px #008037;
  padding: 20px;
}

.menu .mainmenu .icons {
  margin: 0 auto;
  display: block;
  width: 50px;
}

.menu .mainmenu h2 {
  text-align: center;
  color: #f08c2b;
  font-size: 2rem;
}

/*body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*/
/*
main {
    flex-grow: 2;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin: 0 auto;
    width: 45%;
}

.menus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0 70px 0;
    height: 500px;
    width: 640px;
    padding: 10px;
    //padding-top: -50px;
    background-color: white;
    //box-shadow: 10px 5px 5px black;
   // border: solid;
    border-radius: 5%;

}
*/
.bleu {
  background-color: #7f3e1a;
  font-family: Arial, Helvetica, sans-serif;
}

.jaune {
  background-color: #f4e038;
  font-family: Arial, Helvetica, sans-serif;
}

.green {
  background-color: #008037;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  color: white;
  background-color: black;
  position: relative;
}

.git {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
}

footer a {
  color: white !important;
  list-style: inherit;
  text-decoration: inherit !important;
  padding: 0px 10px;
}
